section{
    padding-top: 1rem;
}

.experience__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}


.experience__container > div{
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__container > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default
    ;
}
.experience__container .skill-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.experience__container .skill-level {
    width: 250px;
    height: 15px;
    align-self: center;
    background: var(--color-bg-variant);
    border: 2px solid var(--color-primary);
    position: relative;
}
.experience__container .skill-good::after{
    content: '';
    position: absolute;
    width: 220px;
    height: 11px;
    border: none;
    background: var(--color-highlight);
    left: 0;
    top: 0;

}

.experience__container .skill-basic::after{
    content: '';
    position: absolute;
    width: 180px;
    height: 11px;
    border: none;
    background: var(--color-highlight);
    left: 0;
    top: 0;

}
.experience__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details{
    display: flex;
    gap: 1rem;
}

.experience__details-icon{
    margin-top: 6px;
    color: var(--color-primary);
}

@media screen and (max-width: 1024px){
    .experience__container{
        grid-template-columns: 1fr;
        
    }

    .experience__container > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content{
        padding: 1rem;
    }

}


@media screen and (max-width: 600px){
    .experience__container{
        gap: 1rem;
    }

    .experience__container > div{
        width: 100%;
        padding: 2rem 1rem;
    }
}